<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WPFXMPPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPFXMPPClient.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>available</value>
            </setting>
            <setting name="UseOldTLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5222</value>
            </setting>
        </WPFXMPPClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
